


<table id="archiveReportsTable" class="table">
    <thead>
        <tr>
            <th>
                @localizer.Get("Reporter")

            </th>
            <th>
                @localizer.Get("Reason")

            </th>
            <th>
                @localizer.Get("Date")

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
