@model Workio.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex align-items-center">
    <a asp-action="Index" asp-controller="User" asp-route-id="@Model.Id">
        @if (Model.ProfilePicture != null)
        {
            <img src="~/pfp/@Model.ProfilePicture" alt="Profile Picture" class="pfp rounded-circle" />
        }
        else
        {
            <img src="~/pfp/default.png" alt="Profile Picture" class="rounded-circle pfp" />
        }
    </a>
    <div class="ms-3">
        <a asp-action="Index" asp-controller="User" asp-route-id="@Model.Id"><p class="fw-bold mb-1">@Model.Name</p></a>
        <p class="text-muted mb-0">@Model.Email</p>
    </div>
</div>