@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = localizer.Get("Forgot password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer.Get("Please check your email to reset your password.")
</p>
