@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = localizer.Get("Reset password confirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer.Get("Your password has been reset. Please") <a asp-page="./Login">@localizer.Get("click here to log in")</a>.
</p>
